<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>test: index</title>
</head>
<body>
    <div>
        <h1>Login Complete</h1>
    </div>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>

    <div th:text="${#authentication.name}">
        The value of the "name" property of the authentication object should appear here.
    </div>


<div>
    SUCCESS?
</div>
</body>
</html>